@attribute [Route(Routes.SETTINGS)]
@using AIStudio.Components.Settings
@using AIStudio.Settings.DataModel

<div class="inner-scrolling-context">
    <MudText Typo="Typo.h3" Class="mb-12">Settings</MudText>

    <InnerScrolling>
        <CascadingValue Value="@this">
            <MudExpansionPanels Class="mb-3" MultiExpansion="@false">
                <SettingsDialogProviders @bind-AvailableLLMProviders="@this.availableLLMProviders"/>

                @if (PreviewFeatures.PRE_RAG_2024.IsEnabled(this.SettingsManager))
                {
                    <SettingsPanelEmbeddings AvailableLLMProvidersFunc="() => this.availableLLMProviders" @bind-AvailableEmbeddingProviders="@this.availableEmbeddingProviders"/>
                    <SettingsPanelDataSources AvailableLLMProvidersFunc="() => this.availableLLMProviders" AvailableEmbeddingsFunc="() => this.availableEmbeddingProviders" @bind-AvailableDataSources="@this.availableDataSources"/>
                }
                <SettingsDialogProfiles AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsPanelApp AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsPanelChat AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogWorkspaces AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogIconFinder AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsPanelTranslation AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogCoding AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>

                @if (PreviewFeatures.PRE_RAG_2024.IsEnabled(this.SettingsManager))
                {
                    <SettingsDialogERIServer AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                }

                <SettingsDialogTextSummarizer AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogAgenda AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogGrammarSpelling AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogRewrite AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogWritingEMails AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogJobPostings AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogLegalCheck AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogSynonyms AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogMyTasks AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                <SettingsDialogAssistantBias AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>

                @if (PreviewFeatures.PRE_RAG_2024.IsEnabled(this.SettingsManager))
                {
                    <SettingsPanelAgentDataSourceSelection AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                    <SettingsPanelAgentRetrievalContextValidation AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
                }

                <SettingsPanelAgentContentCleaner AvailableLLMProvidersFunc="() => this.availableLLMProviders"/>
            </MudExpansionPanels>
        </CascadingValue>
    </InnerScrolling>
</div>