<MudText Typo="Typo.body1" Class="@this.Class">
    <div style="display: flex; align-items: center; gap: 8px;">
        <MudIcon Icon="@Icons.Material.Filled.ArrowRightAlt"/>
        @if (this.IsConfigured)
        {
            <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Small"/>
            <span>@this.ConfiguredText</span>
        }
        else
        {
            <MudIcon Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Small"/>
            <span>@this.NotConfiguredText</span>
        }
    </div>
</MudText>