@inherits MSGComponentBase

<div class="@this.Classes" style="@this.Styles">
    @if (this.HeaderContent is not null)
    {
        <div>
            @this.HeaderContent
        </div>
    }
    <div class="flex-auto overflow-auto">
        @this.ChildContent
        
        <div @ref="@this.AnchorAfterChildContent">
            &nbsp;
        </div>
    </div>

    @if (this.FooterContent is not null)
    {
        <MudPaper Class="pa-3 border-solid border rounded-lg">
            @this.FooterContent
        </MudPaper>
    }
</div>