@inherits MSGComponentBase
<MudTooltip Placement="Placement.Bottom" Arrow="@true" Class="@this.Classes">
    <ChildContent>
        <MudChip T="string" Icon="@Icons.Material.Filled.HourglassTop" Color="Color.Info" Class="mb-3">
            @T("Beta")
        </MudChip>
    </ChildContent>
    <TooltipContent>
        <div style="max-width: 20em;">
            <MudText Typo="Typo.body2" Class="mb-3">
                @T("This feature is currently in the beta phase. It is still be possible that there are some bugs.")
            </MudText>

            <MudText Typo="Typo.body2">
                @T("Beta phase means that we are testing the feature.")
            </MudText>
        </div>
    </TooltipContent>
</MudTooltip>