@inherits MSGComponentBase
<MudTooltip Placement="Placement.Bottom" Arrow="@true" Class="@this.Classes">
    <ChildContent>
        <MudChip T="string" Icon="@Icons.Material.Filled.FirstPage" Color="Color.Error" Class="mb-3">
            @T("Alpha")
        </MudChip>
    </ChildContent>
    <TooltipContent>
        <div style="max-width: 22em;">
            <MudText Typo="Typo.body2" Class="mb-3">
                @T("This feature is currently in the alpha phase. Expect bugs and unfinished work.")
            </MudText>

            <MudText Typo="Typo.body2">
                @T("Alpha phase means that we are working on the last details before the beta phase.")
            </MudText>
        </div>
    </TooltipContent>
</MudTooltip>