@inherits MSGComponentBase
<MudTooltip Placement="Placement.Bottom" Arrow="@true" Class="@this.Classes">
    <ChildContent>
        <MudChip T="string" Icon="@Icons.Material.Filled.VerifiedUser" Color="Color.Success" Class="mb-3">
            @T("Release Candidate")
        </MudChip>
    </ChildContent>
    <TooltipContent>
        <div style="max-width: 20em;">
            <MudText Typo="Typo.body2" Class="mb-3">
                @T("This feature is about to be released. We think it's ready for production. There should be no more bugs.")
            </MudText>

            <MudText Typo="Typo.body2">
                @T("Release candidates are the final step before a feature is proven to be stable.")
            </MudText>
        </div>
    </TooltipContent>
</MudTooltip>