@inherits MSGComponentBase

@if (this.EnableDragDrop)
{
    <div @onmouseenter="@this.OnMouseEnter" @onmouseleave="@this.OnMouseLeave">
        <MudPaper Outlined="true" Class="@this.dragClass">
            <MudStack Row="true" AlignItems="AlignItems.Start" StretchItems="StretchItems.None" Wrap="Wrap.Wrap">
                <MudButton StartIcon="@Icons.Material.Filled.Description" OnClick="@(async () => await this.SelectFile())" Variant="Variant.Filled" Disabled="@this.IsUnavailable">
                    @this.ButtonText
                </MudButton>
                @if (this.IsCurrentTargetBusy)
                {
                    <MediaTranscriptionStatus Owner="@this.EffectiveImportOwner" TargetId="@this.EffectiveMediaImportTarget.TargetId" Compact="true"/>
                }
                else
                {
                    <MudText Typo="Typo.body2">
                        @T("Drop one file here to load its content.")
                    </MudText>
                }
                <MudSpacer/>
                @if (this.hasLoadedFileContent)
                {
                    <MudTooltip Text="@this.FileLoadedTooltip()">
                        <MudBadge Content="1" Color="Color.Success" Overlap="true">
                            <MudIcon Icon="@Icons.Material.Filled.AttachFile" Color="Color.Default"/>
                        </MudBadge>
                    </MudTooltip>
                }
            </MudStack>
        </MudPaper>
    </div>
}
else
{
    <MudStack Row="true" AlignItems="AlignItems.Center" StretchItems="StretchItems.None" Wrap="Wrap.Wrap" Class="mb-3">
        <MudButton StartIcon="@Icons.Material.Filled.Description" OnClick="@(async () => await this.SelectFile())" Variant="Variant.Filled" Disabled="@this.IsUnavailable">
            @this.ButtonText
        </MudButton>
        <MediaTranscriptionStatus Owner="@this.EffectiveImportOwner" TargetId="@this.EffectiveMediaImportTarget.TargetId" Compact="true"/>
        @if (this.hasLoadedFileContent)
        {
            <MudTooltip Text="@this.FileLoadedTooltip()">
                <MudBadge Icon="@Icons.Material.Filled.Check" Color="Color.Success" Overlap="true" Class="mx-6 my-4">
                    <MudIcon Icon="@Icons.Material.Filled.AttachFile" Color="Color.Default" />
                </MudBadge>
            </MudTooltip>
        }
    </MudStack>
}
